.container {
    max-width: 900px; 
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img { max-width: 100%; height: auto;}

nav { display: flex; }

nav a { display: block; color: #333; text-decoration:none; border: solid 1px #ddd; padding: 8px 12px; margin:10px 2px;}

nav a.active { background: #ddd; color: #111; border-color: #bbb; }

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects img {
    display: block;
    width:30%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 1%;
}

.banner::after {
    display: block;;
    content : 'Technology photo created by pressfoto - www.freepik.com/photos/technology';
    color: #999;
    font-size: .85rem;
}